@tailwind base;
@tailwind components;
@tailwind utilities;
/* подключаем шрифт */

@font-face {
    font-family: 'Houschka Pro';
    src: url('../fonts/Houschka-pro/HouschkaPro-Medium.woff2') format('woff2'),
         url('../fonts/Houschka-pro/HouschkaPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* для темной темы */
body.dark .menu-active svg path{
    fill: #fff;
}

img {
    -webkit-user-drag: none; /* Safari and Chrome */
    -moz-user-drag: none;    /* Firefox */
    -ms-user-drag: none;     /* Internet Explorer and Edge */
  }

*{
    font-family: 'Inter','sans-serif';
    scrollbar-width: thin;  /* Тонкий скроллбар */
    scrollbar-color: #b0b0b0 transparent; 
}

/* Стилизация для WebKit-браузеров (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px;  /* Устанавливаем ширину скроллбара */
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;  /* Прозрачный фон трека */
    border-radius: 10px; /* Закругляем углы трека */
}

::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;  /* Серый цвет ползунка */
    border-radius: 10px;  /* Закругленные углы ползунка */
    border: 2px solid transparent; /* Добавляем отступы, чтобы визуально скроллбар выглядел круглее */
    background-clip: padding-box; /* Убираем пересечение фона с границами */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888888;  /* Темнее при наведении */
}

::-webkit-scrollbar-thumb:active {
    background-color: #6b6b6b;  /* Ещё темнее при клике */
}

/* Отключаем стрелки вверх и вниз */
::-webkit-scrollbar-button {
    display: none;
}


/* стили активной кнопки регистрации формы регистрации*/
.form-register{
    @apply pt-[50px] pb-[51px] bg-white pl-[75px] pr-[105px] mb-[30px] 
    max-[600px]:pl-[20px] max-[600px]:pr-[20px] max-[600px]:flex max-[600px]:flex-col max-[600px]:items-center max-[400px]:px-[10px];
}
.max-w-400-font-size-16{
    @apply max-[400px]:text-[16px];
}
.btn-active {
    @apply border border-colorBlack rounded-[10px] bg-white;
}
/* стили инпутов формы регистрации*/
.form-register-input{
    @apply font-inter bg-transparent w-full outline-none pl-[10px] placeholder:font-normal placeholder:text-[18px] placeholder:text-colorGray max-[400px]:placeholder:text-[16px];
}
/* стили label формы регистрации*/
.form-register-label{
    @apply flex items-center pl-[20px] mb-[20px] rounded-[10px] bg-[#f8f8f8] w-[380px] h-[60px] max-[500px]:w-full max-[500px]:max-w-[380px];
}
/* стили button формы регистрации*/
.form-register-submit{
    @apply w-[380px] h-[60px] rounded-[10px] outline-none bg-colorBlue text-black text-[18px] font-normal duration-[.3s] 
    hover:duration-[.3s] hover:translate-y-[-3px] active:translate-y-[3px] max-[500px]:w-full max-[500px]:max-w-[380px] max-[400px]:text-[16px];
}

/* container */
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
    @media (min-width: 640px) {
        .container {
            max-width: 640px;
        }
    }
    @media (min-width: 768px) {
        .container {
            max-width: 768px;
        }
    }
    @media (min-width: 1024px) {
        .container {
            max-width: 1024px;
        }
    }
    @media (min-width: 1280px) {
        .container {
            max-width: 1280px;
        }
    }
    @media (min-width: 1536px) {
        .container {
            max-width: 1536px;
        }
    }

/* mobile menu active */
.mobile-menu-active{
    @apply right-0 duration-[.3s];
}

.menu-burger {
    @apply w-[40px] h-[40px] gap-y-[5px] relative;
}
.menu-burger span:nth-child(1){
    @apply w-[26px] h-[2px] bg-colorBlack dark:bg-white rounded-[10px] block transition-all origin-right 
    absolute left-[50%] translate-x-[-50%] top-[calc(50%-3.5px)] translate-y-[-50%];
}
.menu-burger span:nth-child(2){
    @apply w-[18px] h-[2px] bg-colorBlack dark:bg-white rounded-[10px] block transition-all origin-center 
    absolute left-[50%] translate-x-[calc(-50%+4px)] top-[calc(50%+3.5px)]  translate-y-[-50%];
}
.menu-burger.active {
    @apply items-center;
}
.menu-burger.active span:nth-child(1){
    @apply transition-all rotate-[-45deg] top-[calc(50%-5.5px)];
}
.menu-burger.active span:nth-child(2){
    @apply transition-all rotate-[45deg] w-[26px] ;
}
.main-menu-burger-mobile {
    @apply w-[40px] h-[40px] gap-y-[5px] relative;
}
.main-menu-burger-mobile span:nth-child(1){
    @apply w-[26px] h-[2px] bg-colorBlack dark:bg-white rounded-[10px] block transition-all origin-right 
    absolute left-[50%] translate-x-[-50%] top-[calc(50%-3.5px)] translate-y-[-50%];
}
.main-menu-burger-mobile span:nth-child(2){
    @apply w-[18px] h-[2px] bg-colorBlack dark:bg-white rounded-[10px] block transition-all origin-center 
    absolute left-[50%] translate-x-[calc(-50%+4px)] top-[calc(50%+3.5px)]  translate-y-[-50%];
}
.main-menu-burger-mobile.active {
    @apply items-center;
}
.main-menu-burger-mobile.active span:nth-child(1){
    @apply transition-all rotate-[-45deg] top-[calc(50%-5.5px)];
}
.main-menu-burger-mobile.active span:nth-child(2){
    @apply transition-all rotate-[45deg] w-[26px] ;
}
/* title */
.title-page{
    @apply font-inter font-medium text-[26px] text-colorBlack leading-[31.47px] uppercase max-[600px]:text-[22px] max-[400px]:text-[18px];
}

/* показываем текст */
.text-show{
    @apply font-normal text-[16px] leading-[19.36px] text-[#9DFFFCB2] max-w-[400px] pl-[20px] max-h-0 overflow-hidden max-lg:max-w-[100%] max-[500px]:text-[14px]
    transition-all;
}
.text-show-active{
    @apply h-auto max-h-[200px] duration-300;
}
.title-btn{
    @apply text-[20px] leading-[24.2px] font-medium text-white max-w-[400px] mb-[21px] cursor-pointer max-lg:max-w-[100%] max-[500px]:text-[17px];
}

/* faq-answer */
.faq-answer{
    @apply flex gap-x-[30px] px-[30px] pt-[30px] pb-[40px] w-full 
    items-start border border-[#47E1DD] my-0 mx-auto max-md:px-5 max-md:pb-[20px] h-fit;
}

.faq-answer-text {
@apply  text-[16px] leading-[19.36px] text-colorGray2 font-light max-h-0 overflow-hidden transition-all;
}
.faq-answer-text-active{
    @apply h-auto max-h-[200px] transition-all;
}

/* req text  */
.req-text{
    @apply text-[18px] font-light text-colorBlack leading-[26px] max-sm:text-[16px] max-sm:leading-[24px];
}

/* contant-title */
.contant-title{
    @apply text-[22px] leading-[26px] text-black font-normal;
}
.contant-title-blue{
    @apply leading-[26px] text-[18px] font-normal text-colorBlue;
}

/* menu active */
.menu-active{
    @apply before:content-[''] before:w-[6px] before:h-full before:rounded-r-[5px] before:bg-colorBlue before:absolute before:left-0 before:top-0
    max-[1400px]:before:w-full max-[1400px]:before:h-[3px] max-[1400px]:before:rounded-t-[5px] max-[1400px]:before:bottom-0 max-[1400px]:before:top-auto max-[1400px]:before:rounded-none;
}
.menu-active svg path{
    fill: #000;
}

#activityCanvas {
    background-color: white;
    border: 1px solid black;
}
.chart-container {
    width: 100%;
    min-height: 204px;
    max-width: 640px;
}

/* history */
.history-item{
    @apply h-[50px] w-full px-[20px] rounded-[10px] flex items-center /*max-[1400px]:rounded-none*/ max-sm:text-nowrap max-sm:overflow-hidden
    max-sm:min-w-[435px];
}
.history-item-pay:nth-child(1){
    @apply h-[50px] overflow-hidden w-full px-[20px] rounded-[10px] flex items-center /*max-[1400px]:rounded-none*/ max-sm:text-nowrap
    transition-all max-md:min-w-[700px];
}
.history-item-pay.gray{
    @apply bg-[#FBFBFB] dark:bg-colorBlack max-sm:min-w-[700px] ;
}
.history-item-pay{
    @apply h-[50px] overflow-hidden w-full px-[20px] rounded-[10px] flex items-center /*max-[1400px]:rounded-none*/ max-sm:text-nowrap cursor-pointer 
    transition-all hover:transition-all hover:bg-[#d1d1d1] z-0 max-md:min-w-[700px] dark:hover:bg-[rgb(0,0,0,.2)] max-lg:rounded-none;
}
.history-item.gray{
    @apply bg-[#FBFBFB] dark:bg-colorBlack max-sm:min-w-[435px];
}
.history-date{
    @apply font-light text-[16px] leading-[19.36px] text-colorGray2 mr-[10px] dark:text-[#B7B7B7];
}
.history-time{
    @apply font-light text-[16px] leading-[19.36px] text-colorGray2 dark:text-[#B7B7B7];
}
.history-title{
    @apply leading-[19.36px] font-semibold text-[16px] text-black ml-[30px] max-sm:mr-[10px] dark:text-white;
}
.history-money{
    @apply leading-[19.36px] text-[16px] font-semibold text-[#22D98C] block ml-auto;
}
.history-money.history-money-red{
    @apply text-[#ED2727];
}

.menu-item{
    @apply w-full relative h-[40px] mb-[30px] max-[1400px]:mb-0 max-[1400px]:h-[85px]
}
.menu-item-text{
    @apply absolute top-[50%] right-[-100%] p-[5px] px-[10px] bg-black text-white translate-y-[-50%] text-[14px] hidden;
}
.menu-item:hover .menu-item-text{
    @apply block;
}

.block-notification.active{
    @apply block;
}
.block-menu-settings.active{
    @apply block;
}

/* cards-show-active */

.cards-show-active{
    @apply max-h-[300px] h-auto transition-all overflow-hidden overflow-y-auto shadow-md dark:shadow-colorBlack;
}
.cards-show-active .arrow-rotate{
    transform-origin: center;
    transform: rotate(180deg);
}

.btn-change-card{
    @apply  h-[50px] max-w-[145px] w-full border border-colorGray
    bg-[#f8f8f8] text-colorGray2 text-page rounded-[10px] dark:bg-colorBlack dark:text-colorGray dark:border-colorGray2;
}
.btn-change-card-active{
    @apply border-black text-black bg-white dark:border-white dark:text-white dark:bg-dark; 
}

.status-item{
    @apply cursor-pointer w-full h-[40px] flex items-center justify-start pl-[10px]
    transition-all hover:transition-all dark:hover:bg-[#383838] hover:bg-[#ecebeb];
}

/* inpuit placeholder before style */
.span-placeholder{
    @apply absolute left-0 bottom-[10px] font-light 
    text-colorGray text-[18px] leading-[21.78px] transition-all;
}
.span-placeholder-active{
    @apply transition-all bottom-[20px] text-[14px] text-colorGray2 mb-[15px] block font-light leading-[16.94px] dark:text-colorGray;
}

.input-placeholder-before{
    @apply max-w-[200px] w-full h-[40px] text-[14px] 
    outline-none border-b border-colorGray focus:border-colorBlue bg-transparent dark:text-white;
}
.pay-input-text{
    @apply text-colorGray font-normal text-[14px] leading-[16.94px] max-md:hidden;
}

/* кастомные стили календаря */
.pika-single {
    font-family: 'Inter', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    @apply dark:bg-colorBlack;
  }

  .pika-button {
    background-color: #3B82F6;
    color: white;
    border-radius:50%;
    width: 30px !important;
     height: 30px !important;
     display: flex !important;
     align-items: center !important;
     justify-content: center !important;
    @apply dark:bg-dark dark:text-white;
  }
  .is-today .pika-button {
    border: 2px solid #3B82F6;
    border-radius: 50%;
  }

  .is-selected .pika-button {
    background-color: #3B82F6 !important;
    color: white !important;
    border-radius: 50% !important;
  }
  .pika-select-year{
    @apply dark:bg-colorBlack dark:text-white;
  }
  .pika-select-month{
    @apply dark:bg-colorBlack dark:text-white;
  }
  .pika-label{
    @apply dark:bg-dark dark:text-white;
  }
  .pika-single .is-disabled .pika-button{
    @apply text-black bg-colorGray;
  }
  /* меню личного кабинета */
.menu-profile a{
    @apply flex items-center gap-x-[10px] max-w-[205px] w-full 
    ;
}
.menu-profile a.menu-profile-active span{
    @apply text-black font-normal  dark:text-white
    max-lg:pb-[10px] max-lg:border-black  max-lg:border-b-2 dark:max-lg:border-white;
}
.menu-profile .menu-profile-active svg path{
    @apply fill-black dark:fill-white;
}
.menu-profile a svg path{
    @apply fill-[#6a6a6a] dark:fill-colorGray;
}
.menu-profile a svg{
    @apply max-lg:hidden;
}
.menu-profile a span{
   @apply font-light text-[18px] text-[#6A6A6A] leading-[21.78px] dark:text-colorGray 
   transition-all text-nowrap max-sm:text-[14px];
}
.menu-profile a:hover span{
    color: #000;
    transition: 150ms;
}
.menu-profile a:hover svg path{
    fill: #000;
    transition: 150ms;
}
/* profile form input */
.profile-form-input{
    @apply h-fit max-w-[300px] w-full border-b border-colorGray text-black outline-none focus:border-colorBlue
    bg-transparent dark:text-white max-lg:max-w-[485px] max-[500px]:h-[40px] max-[500px]:text-[14px];
}

/* Для всех браузеров */
.menu-profile {
    @apply max-md:overflow-scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Для Chrome, Edge и Safari */
.menu-profile::-webkit-scrollbar {
    display: none;
}

.profile-form-block{
    @apply flex items-end max-w-[470px] w-full justify-between mb-[50px] max-lg:max-w-full
    max-sm:gap-x-[20px] max-[500px]:flex-col max-[500px]:items-start;
}

/* profile-payment-form-block */
.profile-payment-form-block{
    @apply max-w-[470px] w-full flex items-center justify-between max-lg:max-w-full
    max-sm:flex-col max-md:relative;
}
/* profile-payment-input */
.profile-payment-input{
    @apply max-w-[210px] w-full h-[50px] rounded-[10px] px-[20px] bg-[#f8f8f8] dark:bg-colorBlack dark:text-white
    max-sm:max-w-full;
}

.profile-notification-from-item{
    @apply max-w-[470px] w-full h-[50px] flex items-center justify-between max-lg:max-w-full;
}
.profile-notification-from-item button{
    @apply w-[42px] h-[24px] rounded-[40px] bg-[#D9D9D9] relative
    dark:bg-colorGray2;
}
.profile-notification-from-item button span{
    @apply w-[23px] h-full rounded-full bg-white block border-[3px] border-[#D9D9D9] absolute left-0 
    top-[50%] translate-y-[-50%] transition-all dark:bg-dark dark:border-colorGray2;
}
.profile-notification-from-item button.active{
    @apply bg-black dark:bg-white;
}
.profile-notification-from-item button.active span{
    @apply left-[20px] transition-all border-black dark:border-white;
}
.switch-on-off{
    @apply font-normal text-[16px] text-colorGray leading-[19.36px] dark:text-colorGray2;
}
.switch-on-off.active{
    @apply text-black dark:text-white;
}

/* bank-card-from-item */
.bank-card-from-item{
    @apply max-w-fit h-[50px] flex items-center justify-between max-lg:max-w-full;
}
.bank-card-from-item button{
    @apply w-[42px] h-[23.63px]  bg-[#D9D9D9] relative
    dark:bg-colorGray2;
}
.bank-card-from-item button span{
    @apply w-[22px] h-[22px] rounded-full bg-white block border-[4px] border-[#D9D9D9] absolute left-0 
    top-[50%] translate-y-[-50%] transition-all dark:bg-dark dark:border-colorGray2;
}
.bank-card-from-item button.active{
    @apply bg-black dark:bg-white;
}
.bank-card-from-item button.active span{
    @apply left-[19px] transition-all border-black dark:border-white;
}
/* bank-card-item */
.bank-card-item{
    @apply flex items-center gap-x-[20px] max-w-[190px] w-full;
}
.bank-card-item p{
    @apply text-[16px] leading-[19.36px] font-normal text-black text-nowrap dark:text-white;
}
.bank-card-item p sup{
    @apply text-[11px] leading-[19.36px] font-normal text-colorGray;
}
.bank-card-item span{
    @apply text-[14px] leading-[16.94px] text-colorGray;
}

/* modal history detail */
.modal-detail-history{
    @apply fixed top-0 left-0 w-full h-full bg-[rgb(0,0,0,.65)] z-50 backdrop-blur-[2px] overflow-hidden
    hidden;
}
.modal-detail-history.active{
    @apply block;
}

/* class="data-user */
.data-user{
    @apply py-[19px] px-[20px] rounded-[10px] border border-black dark:border-white cursor-pointer 
    max-sm:px-[10px];
}
.data-user.active{
    @apply border-colorBlue border-2;
}
/* widget-logo */
.widget-logo{
    @apply mb-[48px] mx-auto w-fit;
}
.widget-logo svg path{
    @apply dark:fill-white;
}

.my-message{
    @apply p-[20px] bg-[#F8F8F8] rounded-t-[10px] rounded-bl-[10px] w-fit ml-auto dark:bg-colorBlack min-w-[200px] flex flex-col gap-y-[20px];
}
.my-message span,.he-message span{
    @apply text-[12px] font-normal leading-[14.52px] text-colorGray block ml-auto;
}

.he-message{
    @apply p-[10px] flex gap-x-[10px] items-start w-fit;
}
.he-message div:nth-child(2){
    @apply p-[20px] max-w-[378px] w-full mr-auto bg-[#616161] rounded-b-[10px] 
    rounded-tr-[10px] dark:bg-[#262626] flex flex-col gap-y-[20px];
}

/* pay-steps */
.pay-steps{
    @apply flex max-w-[540px] w-full justify-center mx-auto items-center gap-x-[26px]
    max-[500px]:gap-x-[15px] mb-[40px];
}
.pay-steps li {
    @apply w-[140px] relative h-[93px];
}
.pay-steps > span{
    @apply absolute left-[50%] translate-x-[-50%] top-[30px] z-[1]
    h-[1px] w-[70%] bg-[#D9D9D9] block;
}
.pay-steps li div{
    @apply flex items-center justify-center font-bold text-[24px] leading-[29.05px] text-white w-[60px] h-[60px] rounded-full bg-[#D9D9D9]
    mb-[20px] text-center mx-auto max-[500px]:h-[45px] max-[500px]:w-[45px];
}
.pay-steps li.active div{
    @apply flex items-center justify-center font-bold text-[24px] leading-[29.05px] text-white w-[60px] 
    h-[60px] rounded-full bg-colorBlue max-[500px]:h-[45px] max-[500px]:w-[45px];
}
.pay-steps li span{
    @apply text-center mx-auto block text-[18px] text-colorGray max-[500px]:text-[14px] leading-[16px] ;
}
.pay-steps li.active span{
    @apply text-center mx-auto block text-[18px] text-black max-[500px]:text-[14px];
}


/* pay-cards-btn */
.pay-cards-btn{
    @apply flex gap-x-[20px] gap-[20px] mb-[40px] flex-wrap justify-center;
}
.pay-card-item{
    @apply border border-[#D9D9D9] rounded-[5px] w-[80px] h-[80px] flex flex-col items-center justify-center 
    gap-y-[10px] transition-all
    hover:transition-all hover:border-colorBlue;
}
.pay-card-item p{
    @apply text-[12px] font-light leading-[14.52px] text-colorGray2 text-center;
}


.merchant-card{
    @apply h-[38px] px-[20px] rounded-[5px] border border-[#D9D9D9]
    text-colorGray2 flex items-center justify-center cursor-pointer;
}
.merchant-card.active{
    @apply text-black border-colorBlue;
}

.show-pay-history-detail{
    @apply flex justify-center items-center mx-auto;
}
/* title adn text */
.title-page-h2{
    @apply font-light text-[30px] text-black leading-[36.31px] dark:text-white;
}
.text-page{
    @apply leading-[19.36px] font-normal text-[16px] dark:text-white;
}

.top-title{
    @apply text-[14px] text-colorGray2 mb-[15px] block font-light leading-[16.94px] dark:text-colorGray;
}

/* main menu */
.main-menu.active{
    @apply max-md:hidden flex;

}

.main-menu-mobile.active{
    @apply max-md:flex hidden;
}